.container{
    height: 95vh;
    background-color: aquamarine;
}

.wrd-dark{
    color: white;
}

.dark{
    background-color: black;
}

h1{
    text-align: center;
    padding-top: 37vh;
}

button{
    /* positioning */
    display: flex;
    margin: auto;

    width: 5vw;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    /* padding-left: 1.5vw;
    padding-top: 0.7vh; */
    text-align: center;
}

.dark-btn{
    margin-top: 20px;
}

.moon{
    width: 3vw;
    margin: 3px;
}

.sun{
    width: 2vw;
    margin: 10px;
}